body {
  padding: 0;
  margin: 0;
  background: #f3f4f6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
  padding: 48px;
  display:flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card{
  border: rgba(0,0,0,1) solid 3px;
  border-radius: 16px;
  width: 350px;
  position: relative;
  overflow:hidden;
  box-shadow:
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 0 0 0,
          rgba(0,0,0,0) 0 1px 3px 0,
          rgba(0,0,0,0) 0 1px 2px 0
}

.card-header-image{
  position:relative;
  margin:15px;
  width: 90%;
  height:200px;
}

.card-title{
  position: relative;
  color:black;
  font-size:24px;
  top:25px;
  left:15px;
}

.card-info{
  position: relative;
  color:red;
  font-size:24px;
  left:275px;
}

.card-header{
  position:relative;
}

.card-body{
  padding:24px;
}

.edit {
  width: 100%;
  display:flex;
  justify-content: flex-start ;
  margin-bottom: 8px;
}

.edit a{
  text-decoration: none;
  color: black ;
}


.attacks{
  font-size: 15px;
  display:flex;
  justify-content: space-between;
  padding:10px;
}
.animal{
  width: 100%;
  display:flex;
  justify-content: flex-start ;
  margin-bottom: 8px;
  font-size: 18px;
  color:black;
}
.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #ff6f61;
}

.water {
  background-color: #639bff;
}

.electric {
  background-color: #ffdd57;
}

.grass {
  background-color: #77dd77;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #ee99ac;
}
.button {
  display:block;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,rgba(0,0,0,0.5) 0px 1px 2px 0px;
  font-size: 16px;
  line-height: 1.25rem;
}
.button.save{
  background-color: #f87676;
  color: white;
  border: 1px solid #164E63;
}
.add-button-row{
  display: flex;
  justify-content: flex-start;
}
.main-header{
  background: #242323;
  width: 100%;
  display: flex;
  justify-content: center;
}
.health{
  color: black;
  display: flex;
  justify-content: end;
  padding-right: 30px;
  padding-bottom: 5px;
  font-size: 20px;
}
.type-image{
  position: relative;
  display: flex;
  justify-content: start;
  max-width: 25px;
  max-height: 25px;
}
.types{
  display: flex;
  justify-content: center;
  padding-right: 1px;
  font-size: 20px;
  background: grey;
  border-radius: 10px;
  color: white;
  width: 100px;
}
.card-details{
  width: 90%;
  padding: 6px;
  background: grey;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.card-details2{
  width: 90%;
  padding: 6px;
  background: grey;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  color: white;
}